absl-py==0.9.0
astor==0.8.1
av==8.0.2
backcall==0.2.0
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
chumpy @ git+https://github.com/mattloper/chumpy.git@79fcbd0fdc4295c0fe4055c8d3fdb50b86df1d06
cloudpickle==1.5.0
cryptography==2.9.2
cycler==0.10.0
Cython==0.29.20
decorator==4.4.2
-e git+https://github.com/coldmanck/VidHOI@09c3f17bcf257f2bf7a302e23754ac3c879a3e81#egg=detectron2&subdirectory=detectron2_repo
easydict==1.9
ffmpeg==1.4
filelock==3.0.12
filterpy==1.4.5
freetype-py==2.2.0
future==0.18.2
fvcore @ git+https://github.com/facebookresearch/fvcore.git@0bf1ff9a6b4ef3a2a9916baeafef1f3acac89840
gast==0.2.2
gdown==3.6.4
google-auth==1.18.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.30.0
h5py==2.10.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg @ file:///home/conda/feedstock_root/build_artifacts/imageio-ffmpeg_1589202782679/work
importlib-metadata==1.7.0
intel-openmp==2019.0
ipykernel==5.3.1
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
joblib==0.14.1
jupyter-client==6.1.5
jupyter-core==4.6.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
llvmlite==0.32.1
lxml==4.5.2
Markdown==3.2.2
matplotlib==3.1.3
mkl==2019.0
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
moviepy==1.0.1
msgpack==1.0.0
networkx==2.5
numba==0.47.0
numpy==1.17.5
oauthlib==3.1.0
olefile==0.46
opencv-python==4.1.2.30
opt-einsum==3.3.0
packaging==20.4
pandas==1.0.3
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
portalocker==1.7.0
proglog==0.1.9
progress==1.5
prompt-toolkit==3.0.5
protobuf==3.12.2
psutil==5.7.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycparser==2.20
pydot==1.4.1
pyglet==1.5.7
Pygments==2.6.1
PyOpenGL==3.1.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrender==0.1.36
PySocks==1.7.1
python-dateutil==2.8.1
pytorch-model-summary==0.1.2
pytube @ git+https://github.com/giacaglia/pytube.git@47c0b249ca032f8112ee9218da79dbfee1596ad5
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.16.2
scikit-learn==0.23.1
scikit-video==1.1.11
scipy==1.4.1
simplejson==3.17.0
six==1.14.0
sklearn==0.0
-e git+https://github.com/coldmanck/VidHOI@09c3f17bcf257f2bf7a302e23754ac3c879a3e81#egg=slowfast
smplx==0.1.13
tabulate==0.8.7
tensorboard==2.1.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow==1.15.2
tensorflow-estimator==1.15.1
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.4.0
torchgeometry==0.1.2
torchvision==0.5.0
tornado==6.0.4
tqdm==4.49.0
traitlets==4.3.3
trimesh==3.5.25
urllib3==1.25.9
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
yacs==0.1.6
yolov3 @ git+https://github.com/mkocabas/yolov3-pytorch.git@d7192c9f6cec43f7db4bd91186b2c0401eafd5a6
youtube-dl==2020.6.16.1
zipp==3.1.0
